py-tgcalls==2.2.8
bs4
pymediainfo
gtts
pydub
cinemagoer
edge-tts
emoji
geopy
git-python
glitch_this
googlesearch-python
googletrans @ git+https://gitlab.com/badmunda98/py-googletrans
httpx
lottie
lyricsgenius
motor
pillow
psutil
pyroaddon
pySmartDL
python-dotenv
pytz
requests
selenium
speedtest-cli
telegraph
tgcrypto
Unidecode
wikipedia
yt-dlp
fastapi==0.103.0
yt-dlp
uvicorn==0.23.2
python-jose[cryptography]
passlib[bcrypt]
jinja2==3.1.2
heroku3==5.1.4
py-yt-search~=0.5.1
youtube-search==2.1.2
youtube-search-python
py-yt-search~=0.5.1
git+https://github.com/ShizuBots/PyroBad
git+https://gitlab.com/badmunda98/BadAPI
